<div class="modal">
  <form class="form-container glass" action="login-page.html" method="post">
  <div class="title-close-button">
    <div class="title h5">Додати завдання до<br>СМПС</div>
    <i (click)="close()" class="close-button fa fa-times glass" aria-hidden="true"></i>
  </div>
    <div class="input-forgot-password">
    <input class="input-text" type="text" name="username" id="username" placeholder="Логін" required>
    <input class="input-text" type="text" name="vns-link" id="vns-link" placeholder="Посилання на завдання у внс">
    <input class="input-text" type="text" name="metoda" id="metoda" placeholder="Посилання на методичні вказівки">
    <input class="input-text" type="date" name="deadline" id="deadline" placeholder="Пароль">
  </div>
  <div class="buttons">
    <button class="lg-button hbtn" type="submit">Додати</button></div>
</form>
</div>
