<div class="modal">
<form #editForm="ngForm" class="form-container glass" action="login-page.html" method="post">
  <div class="title-close-button">
  <div class="title h5">Редагувати завдання<br>{{editTask?.title}}</div>
  <i (click)="close()" class="close-button fa fa-times glass" aria-hidden="true"></i>
  </div>
  <div class="input-forgot-password">
    <input class="input-text" type="text" name="title" id="title" ngModel="{{editTask?.title}}" placeholder="Лабораторна" required>
    <input class="input-text" type="text" name="link" id="link" ngModel="{{editTask?.link}}" placeholder="https://">
    <input class="input-text" type="text" name="metoda_link" ngModel="{{editTask?.metoda_link}}"id="metoda_link" placeholder="https://">
    <input class="input-text" type="date" name="deadline" ngModel="{{editTask?.deadline}}" id="deadline" value="2024-04-12">
    <input type="hidden" ngModel="{{editTask?.id}}" name="task_id" class="form-control" id="task_id"
           placeholder="id">
  </div>
  <div class="buttons">
    <button id="update-task-form" (click)="onUpdateTask(editForm, editTask?.id)" class="submit-button hbtn" type="submit">Додати</button>
    <button (click)="openDelete()" class="delete-button hbtn" type="submit">Видалити завдання</button>
  </div>
</form>
</div>
