<div class="modal">
  <form class="form-container modal glass" action="login-page.html" method="post">
    <div class="title-close-button">
      <div class="title h5">Дійсно видалити завдання?</div>
    </div>
    <div class="input-forgot-password">
      <div class="input-text body7 glass">{{deleteSubject?.title}}</div>
    </div>
    <div class="buttons">
      <button (click)="onDeleteSubject(deleteSubject?.id)" class="submit-button hbtn" type="submit">Видалити</button>
      <button (click)="close()" class="delete-button hbtn" type="submit">Ні</button>
    </div>
  </form>
</div>
