<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>404</title>
</head>

<body class="error-body">
<div class="logo-body">
  <div class="logo" routerLink="/subjects/scheduled">MINIVNS</div>
  <div class="main">
    <h1 class="error-code">404</h1>
    <div class="error-message h3">На жаль, такої сторінки не існує</div>
    <div class="error-button" routerLink="/subjects/scheduled">ПОВЕРНУТИСЯ НА ГОЛОВНУ</div>
  </div>
</div>
<footer class="footer-container">
  <div class="left-footer glass">
    <div class="logo-title" routerLink="/subjects/scheduled">MINIVNS</div>
    <div class="contact-button">
      <img class="footer-logo" src="./assets/resources/icons/contact.png" alt="Footer contact">
      <p>
        Написати нам
      </p>
    </div>
  </div>
  <div class="footer-right">Усі використані матеріали доступні за цим
    <br>посиланням — <span>ресурси</span></div>
</footer>
</body>



</html>
