
<div style="text-align:center;"><a class="navbar-brand" routerLink="/subjects/scheduled"
   style="font-size:25px;color:#666565;font-family: monospace; text-shadow: 0 0 20px #000000ba;">Minivns</a>
</div>
  <div style="text-align:center">
    <p style="font-size:50px">We are sorry but there is no such page in our system</p>
  <button style="margin:auto; width:60%; box-shadow: 8px 5px 20px 0px #007bffad;"class="btn btn-primary" routerLink="/subjects/scheduled">Go to start page</button>
    <br><br><br>
    <p style="font-size: 200px; font-weight: 600; background: -webkit-linear-gradient(#238181, #a54d61);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;text-shadow: 7px 6px 20px #ffddddcc;">404</p>
  </div>
