<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Marks</title>

</head>

<body class="body-container">
<div *ngIf="isLoggedIn; else loggedOut">
  <meta http-equiv="Refresh" content="0 /users/{{user_id}}/dashboard">
</div>
<ng-template #loggedOut>
  <div class="logo-body">
    <div class="logo">MINIVNS</div>
    <div class="illustration-form-container">
      <div>
        <img class="illustration" src="./assets/resources/img/login.svg" alt="illustration">
      </div>
      <div>
        <form class="form-container glass" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="title h5">Увійти</div>
          <div class="input-forgot-password">
            <input class="input-text" type="text" placeholder="Пошта" name="username" id="username" [(ngModel)]="form.username" #username="ngModel" required>
            <div *ngIf="f.submitted && username.invalid">
              <div *ngIf="username.errors?.['required']" class="body7">Відсутній логін</div>
            </div>
            <input class="input-text" type="password" placeholder="Логін" name="password" id="password" [(ngModel)]="form.password" #password="ngModel" required minlength="4">
            <div *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors?.['required']" class="body7">Відсутній пароль</div>
              <div *ngIf="password.errors?.['minlength']" class="body7">Пароль має бути >=4 літери</div>
            </div>
            <span class="password-forgot body7">Забув/ла пароль?</span>
          </div>
          <div class="buttons">
            <button class="lg-button hbtn" type="submit">УВІЙТИ</button>
            <div  *ngIf="f.submitted && isLoginFailed" class="body7">Помилка: {{errorMessage}}</div>
            <span class="body7">або</span>
            <button class="google-login hbtn" type="button">ВХІД З GOOGLE</button>
          </div>
          <span class="message body4">Якщо не знаєш даних для входу, звернися до адміністрації!</span>
        </form>
      </div>
    </div>
  </div>
</ng-template>
</body>

</html>
