<div class="modal">
  <form #updateForm="ngForm" (ngSubmit)="onUpdateSchedule(updateForm)" class="forms-container glass" action="login-page.html" method="post">
    <div class="title-close-button">
      <div class="title h5">Змінити пару<br>{{editSchedule?.subject_id?.title}}</div>
      <i (click)="close()" class="close-button fa fa-times glass" aria-hidden="true"></i>
    </div>
    <div class="inputs-selectors">
      <div class="inputs-container">
        <input class="input-text" type="text" id="teacher" ngModel="{{editSchedule?.teacher}}" name="teacher" placeholder="Викладач">
        <input class="input-text" type="text" id="link" ngModel="{{editSchedule?.link}}" name="link" placeholder="Посилання на заняття">
        <input class="input-text" type="text" id="classroom" ngModel="{{editSchedule?.classroom}}" name="classroom" placeholder="Аудиторія">
      </div>
      <div class="selectors-container">
        <div class="label-selector">
          <div class="name-label body4">Предмет</div>
          <select class="input-text"  id="subject_id" ngModel="{{editSchedule?.subject_id?.id}}" name="subject_id">
            <option *ngFor="let subject of subjects" value="{{subject.id}}" [selected]="subject.id === editSchedule?.subject_id?.id">{{subject.title}}</option>
          </select>
        </div>
        <div class="label-selector">
          <div class="name-label body4">Тип заняття</div>
          <select class="input-text"  id="type_of_lesson" ngModel="{{editSchedule?.type_of_lesson}}" name="type_of_lesson">
            <option value="ЛЕКЦІЯ">Лекція</option>
            <option value="ПРАКТИКА">Практика</option>
            <option value="ЛАБОРАТОРНА">Лабораторна</option>
          </select>
        </div>
        <div class="label-selector">
          <div class="name-label body4">День</div>
          <select class="input-text" id="day_of_week" ngModel="{{editSchedule?.day_of_week}}" name="day_of_week">
            <option value="ПОНЕДІЛОК">Понеділок</option>
            <option value="ВІВТОРОК">Вівторок</option>
            <option value="СЕРЕДА">Середа</option>
            <option value="ЧЕТВЕР">Четвер</option>
            <option value="ПЯТНИЦЯ">П'ятниця</option>
          </select>
        </div>
      </div>
        <div class="input-container">
          <div class="label-selector">
            <div class="name-label body4">Пара</div>
            <select class="input-text" id="number" ngModel="{{editSchedule?.number}}" name="number" >
              <option value="1">1 пара</option>
              <option value="2">2 пара</option>
              <option value="3">3 пара</option>
              <option value="4">4 пара</option>
              <option value="5">5 пара</option>
              <option value="6">6 пара</option>
              <option value="7">7 пара</option>
              <option value="8">8 пара</option>
            </select>
          </div>

          <div class="radio-container">
            <div class="radio">
              <label class="custom-radio-btn">
                <span class="label">Чисельник</span>
                <input type="radio" value="ODD" id="ODD" ngModel="{{editSchedule?.week_type}}" name="week_type">
                <span class="checkmark"></span>
              </label>
              <label class="custom-radio-btn">
                <span class="label">Знаменник</span>
                <input type="radio" value="EVEN" id="EVEN" ngModel="{{editSchedule?.week_type}}" name="week_type">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="radio">
              <label class="custom-radio-btn">
                <span class="label">І підгрупа</span>
                <input type="radio" id="HALF_GROUP_1" value="HALF_GROUP_1" ngModel="{{editSchedule?.group_type}}" name="group_type">
                <span class="checkmark"></span>
              </label>
              <label class="custom-radio-btn">
                <span class="label">ІІ підгрупа</span>
                <input type="radio" id="HALF_GROUP_2" value="HALF_GROUP_2" ngModel="{{editSchedule?.group_type}}" name="group_type">
                <span class="checkmark"></span>
              </label>
              <label class="custom-radio-btn">
                <span class="label">Вся група</span>
                <input type="radio"  id="FULL_GROUP" value="FULL_GROUP" ngModel="{{editSchedule?.group_type}}" name="group_type">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button id="update-schedule-item-form" class="submit-button hbtn" type="submit" [disabled]="updateForm.invalid">Додати</button>
        <button (click)="openDelete()" class="delete-button hbtn" type="submit">Видалити завдання</button>
      </div>
  </form>
</div>
