<div class="modal">
  <form class="form-container glass" action="login-page.html" method="post">
    <div class="title-close-button">
      <div class="title h5">Позначити виконаним</div>
      <i (click)="close()" class="close-button fa fa-times glass" aria-hidden="true"></i>
    </div>
    <div class="input-forgot-password">
      <input class="input-text" type="text" name="username" id="username" placeholder="Бал" required>
      <input class="input-text" type="text" name="vns-link" id="vns-link" placeholder="Максимальний бал">
    </div>
    <div class="buttons">
      <button class="lg-button hbtn" type="submit">Виконати</button></div>
  </form>
</div>
