.header-plus-body{
    flex:1;
}

.main-container-tasks{
  display: flex;
  flex-direction: column;
  color: var(--white);
}
.search-bar{
    display: flex;
    gap:9px;
}
.search-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.subject-name-container{
    display: flex;
    margin-top: 20px;
    justify-content: space-between ;

}
.line{
height: 2px;
}


.tasks-card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.task-card{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    width: fit-content;
    border-width: 1px;
    max-width: 300px;
}
.task-buttons{
    display: flex;
    gap:12px;
}

.name-plus-buttons{
    display: flex;
    gap: 16px;
    flex-direction: column;

}
line{
    height: 2px;
}

.task-button{
    color: var(--white);
    padding: 5px 10px 5px 10px;
    border-width: 1px;
    box-shadow: none;

}

.arrow-up{
    padding: 21px;
    display: flex;
    justify-content: center;
}
.task-status{
    padding: 12px 62px 12px 62px;
    color: var(--white);
}

.line-plus-status{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.tasks-plus-button{
    display: flex;
    gap: 35px;
    justify-content: space-between;
}

.add-task{
    padding-right:20px;
    padding-left: 20px;

}
