<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedule</title>
</head>

<body>
    <div class="main-container">
      <div *ngFor="let subjectOnDays of weekSubjects; let i=index" class="schedule-item">
        <div class="name-container">
          <div class="name-button">
            <div class="name h4">{{this.weekDays[i]}}</div>
            <div class="icon"><img src="../assets/resources/icons/arrow-up.svg" alt="arrow-up"></div>
          </div>
          <div class="line"></div>
        </div>
        <div class="schedule-cards-container">
          <div *ngFor="let subject of subjectOnDays" class="schedule-card-container">
            <div class="schedule-card glass">
              <div class="name-time">
                <span class="discipline-name h6">{{subject.title}}</span>
                <div class="teacher-time">
                  <span class="teacher body5">Кочан Р.В</span>
                  <div class="para-number-time body5">
                    <span class="para-number">5 пара</span>
                    <span class="time">14:50-16:10</span>
                  </div>
                </div>
              </div>
              <div class="schedule-card-button-container">
                <a href="{{subject.vns_url}}" class="card-button"><div class="schedule-card-button glass">ВНС</div></a>
                <a href ="{{subject.lection_url}}" class="card-button"><div class="schedule-card-button glass lection-active">ЛЕКЦІЯ</div></a>
                <div class="schedule-card-button card-button glass">405, XXVII</div>
              </div>
            </div>
            <div class="schedule-button glass">
              <img src="../assets/resources/icons/arrow-right.svg" alt="Arrow Right">
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>
