<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedule</title>
</head>

<body>
<div class="left-menu-plus-body">
  <nav class="left-menu-container">
    <div class="logo-menu-items-container">
      <span class="logo">MINIVNS</span>
      <div class="menu-item-container">
        <div routerLink="/users/{{user_id}}//dashboard" class="menu-item hbtn">
          <p>Дешборд</p>
        </div>
        <div class="menu-item hbtn">
          <p>Розклад</p>
        </div>
        <div class="menu-item hbtn">
          <p>Оцінки</p>
        </div>
        <div class="menu-item hbtn">
          <p>Завдання</p>
        </div>
      </div>
    </div>
    <div class="menu-item hbtn">
      <p>Вийти</p>
    </div>
  </nav>
  <div class="header-plus-body">
    <header class="header_glass">
      <span class="h3">Вітаємо, Олег!</span>
      <div class="profile-container hbtn">
        <div class="profile-icon glass">
          <img src="../assets/resources/icons/user-male.svg" alt="Profile Icon">
        </div>
        <p>Профіль</p>
      </div>
    </header>
    <div class="main-container">
      <div *ngFor="let subjectOnDays of weekSubjects; let i=index" class="schedule-item">
        <div class="name-container">
          <div class="name-button">
            <div class="name h4">{{this.weekDays[i]}}</div>
            <div class="icon"><img src="../assets/resources/icons/arrow-up.svg" alt="arrow-up"></div>
          </div>
          <div class="line"></div>
        </div>
        <div class="schedule-cards-container">
          <div *ngFor="let subject of subjectOnDays" class="schedule-card-container">
            <div class="schedule-card glass">
              <div class="name-time">
                <span class="discipline-name h6">{{subject.title}}</span>
                <div class="teacher-time">
                  <span class="teacher body5">Кочан Р.В</span>
                  <div class="para-number-time body5">
                    <span class="para-number">5 пара</span>
                    <span class="time">14:50-16:10</span>
                  </div>
                </div>
              </div>
              <div class="schedule-card-button-container">
                <a href="{{subject.vns_url}}" class="card-button"><div class="schedule-card-button glass">ВНС</div></a>
                <a href ="{{subject.lection_url}}" class="card-button"><div class="schedule-card-button glass lection-active">ЛЕКЦІЯ</div></a>
                <div class="schedule-card-button card-button glass">405, XXVII</div>
              </div>
            </div>
            <div class="schedule-button glass">
              <img src="../assets/resources/icons/arrow-right.svg" alt="Arrow Right">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer-container">
  <div class="left-footer glass">
    <div class="logo-title">MINIVNS</div>
    <div class ="contact-button">
      <img class="footer-logo" src="../assets/resources/icons/contact.png" alt="Footer contact">
      <p>
        Написати нам
      </p>
    </div>
  </div>
  <div class="footer-right">Усі використані матеріали доступні за цим
    <br>посиланням — <span>ресурси</span></div>
</footer>
</body>

</html>
