<div class="search-container">
  <div class="search-bar">
    <div class="search-icon">
      <img src="../assets/resources/icons/search.svg" alt="Search Icon">
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" class="body4" style="font-family: Mariupol; font-size: 20px; font-weight: 400; color:var(--white); border:none; background-color: transparent;"
             (ngModelChange)="searchUsers(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search subjects..." required>
    </form>
  </div>
  <div class="line"></div>
</div>
<div class="user-cards-container">
  <div *ngFor="let user of users" class="user-card glass">
    <div class="gender-icon" *ngIf="user.gender===true else elseBlock">
      <img src="../assets/resources/icons/user-male.svg" alt="user-male">
    </div>
    <ng-template #elseBlock>
      <img style="width: 42px" src="../assets/resources/icons/female-user.svg" alt="user-female">
    </ng-template>
    <div class="user-desc">
      <span class="h6">{{user.first_name}} {{user.last_name}}</span>
      <span class="body4">{{user.email | truncateEmail:20}}</span>
      <button (click)="onOpenModal(user, 'edit')" class="task-button glass card-button"> <img src="../assets/resources/icons/edit.svg" alt="edit button"> </button>
    </div>
  </div>
  <a class="nav-link user-card glass h6" (click)="onOpenModal(null, 'add')">Add User</a>

</div>
