<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>

</head>

<body>
    <div class="body-container_new">
      <div class="left-part">
        <div class="statistics-plus-expired">
          <div class="group-statistics">
            <div class="group-number h3 glass">КІ-47</div>
            <div class="statistics glass">
              <div class="h3">{{doneTasksPercentage}}%</div>
              <div class="h5">Виконано!</div>
              <div class="back-color"></div>
            </div>
          </div>
          <div class="expire-container">
            <span class="h5">Скоро спливає</span>
            <div class="tasks-container">
              <div *ngFor="let task of sortedTasks" class="task-card-container">
                <div class="task-card glass">
                  <div class="name-time">
                    <span class="task-name h6">{{task.title}}</span>
                    <div class="subject-time body5">
                      <span class="subject ">{{task.subject_id.title}}</span>
                      <span class="deadline">{{getDate(task)}}</span>
                    </div>
                  </div>
                  <div class="schedule-card-button-container">
                    <div class="schedule-card-button card-button glass">ВНС</div>
                    <div class="schedule-card-button card-button glass">МЕТОДИЧКА</div>
                  </div>
                </div>
                <div class="task-button glass">
                  <span class="days-amount h4">{{diffindays(task)}}</span>
                  <span class="days body5">дні</span>
                </div>
              </div>
              <div routerLink="../../../users/{{user_id}}/tasks"class="task-all-button glass body4">
                <div>Усі завдання</div>
                <img src="../assets/resources/icons/arrow-right.svg" alt="Arrow Right">
              </div>
            </div>
          </div>
        </div>
        <div class="success">
          <span class="h5">Успішність</span>
          <div *ngFor="let subject of arrayOfArrays; let i=index" class="success-item body4">
            <div class="name-mark">
              <div class="name">{{subject[0].subject_id.title}}</div>
              <div class="mark">{{totalMarksPerArray[i]}}</div>
            </div>
            <div class="line"></div>
          </div>
          <div routerLink="../../../users/{{user_id}}/marks" class="all-marks body4">Усі оцінки</div>
        </div>
      </div>
      <div class="today-schedule">
        <span class="h5">{{getDateNow()}}</span>
        <div class="schedule-cards-container-plus-button">
          <div class="schedule-cards-container">
            <div *ngFor="let subject of subjects" class="schedule-item">
              <div class="schedule-card glass">
                <div class="name-time">
                  <span class="discipline-name h6">{{subject.title}}</span>
                  <div class="teacher-time">
                    <span class="teacher body5">Кочан Р.В</span>
                    <div class="para-number-time body5">
                      <span class="para-number">1 пара</span>
                      <span class="time">8:30-10:00</span>
                    </div>
                  </div>
                </div>
                <div class="schedule-card-button-container">
                  <a href="{{subject.vns_url}}"><div class="schedule-card-button card-button glass">ВНС</div></a>
                  <a href="{{subject.lection_url}}"><div class="schedule-card-button card-button glass lection-active">ЛЕКЦІЯ</div></a>
                  <a href="{{subject.lab_url}}"><div class="schedule-card-button card-button glass">ЛАБ</div></a>
                  <a href="{{subject.pract_url}}"><div class="schedule-card-button card-button glass">ПРАКТИКА</div></a>
                </div>
              </div>
              <div routerLink="../../../users/{{user_id}}/subjects/{{subject.id}}/tasks" class="schedule-button glass">
                <img src="../assets/resources/icons/arrow-right.svg" alt="Arrow Right">
              </div>
            </div>
          </div>
          <div routerLink="../../../subjects" class="schedule-all-button glass h6">
            <span>Усі предмети</span>
            <img src="../assets/resources/icons/arrow-right.svg" alt="Arrow Right">
          </div>
        </div>
      </div>
    </div>
</body>

</html>
