<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Marks</title>
</head>

<body>
<div class="left-menu-plus-body">
  <nav class="left-menu-container">
    <div class="logo-menu-items-container">
      <span class="logo">MINIVNS</span>
      <div class="menu-item-container">
        <div class="menu-item hbtn">
          <p>Дешборд</p>
        </div>
        <div class="menu-item hbtn">
          <p>Розклад</p>
        </div>
        <div routerLink="/users/{{user_id}}//marks" class="menu-item hbtn">
          <p>Оцінки</p>
        </div>
        <div class="menu-item hbtn">
          <p>Завдання</p>
        </div>
      </div>
    </div>
    <div class="menu-item hbtn">
      <p>Вийти</p>
    </div>
  </nav>

  <div class="header-plus-body">
    <header class="header_glass">
      <span class="h3">Твої завдання</span>
      <div class="profile-container hbtn">
        <div class="profile-icon glass">
          <img src="../assets/resources/icons/user-male.svg" alt="Profile Icon">
        </div>
        <p>Профіль</p>
      </div>
    </header>
    <div class="main-container">
      <div class="search-container">
        <div class="search-bar">
          <div class="search-icon">
            <img src="../assets/resources/icons/search.svg" alt="Search Icon">
          </div>
          <div class="placeholder body4">Пошук...</div>
        </div>
        <div class="line"></div>
      </div>
      <div class="subjects-container">
        <div *ngFor="let taskGroup of arrayOfArrays;" class="subject">
          <div class="subject-name-container">
            <div class="subject-name h4">{{taskGroup[0].subject_id.title}}</div>
            <div class="arrow-up glass"> <img src="../assets/resources/icons/arrow-up.svg" alt="arrow-up"></div>
          </div>
          <div class="tasks-card-container">
            <div *ngFor="let task of taskGroup;" class="task-card glass">
              <div class="name-plus-buttons">
                <div class="task-name h7">{{task.title}}</div>
                <div class="task-buttons">
                  <a href='{{task.link}}'><button class="task-button glass card-button">ВНС</button></a>
                  <button class="task-button glass card-button">МЕТОДИЧКА</button>
                  <button class="task-button glass card-button">
                    <img src="../assets/resources/icons/edit.svg" alt="edit button">
                  </button>
                </div>
              </div>
              <div class="line-plus-status">
                <div class="line"></div>
                <div class="task-deadline body5">Кінець здачі: {{getDate(task)}}</div>
              </div>
              <button class="task-status glass body5">Виконано</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer-container">
  <div class="left-footer glass">
    <div class="logo-title">MINIVNS</div>
    <div class="contact-button">
      <img class="footer-logo" src="../assets/resources/icons/contact.png" alt="Footer contact">
      <p>
        Написати нам
      </p>
    </div>
  </div>
  <div class="footer-right">Усі використані матеріали доступні за цим
    <br>посиланням — <span>ресурси</span></div>
</footer>

</body>

</html>
