<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Marks</title>
</head>

      <div class="subjects-container" >
        <div *ngFor="let taskGroup of arrayOfArrays; let i = index" class="subject">
          <div class="subject-name-container" (click)="isExpanded[i] = !isExpanded[i]">
            <div class="subject-name h4">{{taskGroup[0].subject_id.title}}</div>
            <div class="arrow-up"> <img [style.transform]="'rotate(' + getRotation(i) + ')'" src="../assets/resources/icons/arrow-up.svg" alt="arrow-up"></div>
          </div>
          <div class="tasks-card-container" *ngIf="isExpanded[i]">
            <div *ngFor="let task of taskGroup;" class="task-card glass">
              <div class="name-plus-buttons">
                <div class="task-name h7">{{task.title}}</div>
                <div class="task-buttons">
                  <a *ngIf="task.link!=null&&task.link!=''; else elseBlock" href="{{task.link}}"><div class="task-button card-button glass">ВНС</div></a>
                  <ng-template #elseBlock>
                    <div class="task-button card-button glass">ВНС</div>
                  </ng-template>
                  <a *ngIf="task.metoda_link!=null&&task.metoda_link!=''; else elseBlock" href="{{task.metoda_link}}"><div class="task-button card-button glass">МЕТОДИЧКА</div></a>
                  <ng-template #elseBlock>
                    <div class="task-button card-button glass">МЕТОДИЧКА</div>
                  </ng-template>
                  <button (click)="onOpenModal(task,'edit')" *ngIf="(authority)" class="task-button glass card-button"> <img
                    src="../assets/resources/icons/edit.svg" alt="edit button"> </button>
                </div>
              </div>
              <div class="line-plus-status">
                <div class="line"></div>
                <div *ngIf="getDate(task)<currentDate && getDoneDate(task)>getDate(task)" class="task-deadline body5">Кінець здачі: {{getDateString(task)}} </div>
                <div *ngIf="getDate(task)>currentDate || !(getDoneDate(task)>getDate(task))" class="task-deadline body5">Кінець здачі: {{getDateString(task)}} {{'&#128293;'}}{{'&#128293;'}}{{'&#128293;'}}</div>
              </div>
              <button *ngIf="task?.is_done===false" (click)="onOpenModal(task,'done')" class="task-status glass body5">Позначити</button>
              <button *ngIf="task?.is_done===true&&task.mark<task.max_mark/2" (click)="onOpenModal(task,'undone')" style="background-color: rgba(13,84,170,0.5)" class="task-status glass body5">Виконано {{task.mark}}/{{task.max_mark}}</button>
              <button *ngIf="task?.is_done===true&&task.mark>task.max_mark/2" (click)="onOpenModal(task,'undone')" style="background-color: rgba(53,174,20,0.5)" class="task-status glass body5">Виконано {{task.mark}}/{{task.max_mark}}</button>
            </div>
          </div>
        </div>
      </div>
</html>
